@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700|Rubik:300,400,700&display=swap');
body {
  background-color: rgb(240, 240, 240);
  font-family: Rubik;
  color: #465881;
  line-height: 1.6;
  font-size: 17px;
}
h1{
  font-family: Merriweather;
  color: #3FC5F0;
  font-size: 30px;
  font-weight: bold;
}
h2{
  font-family: Merriweather;
  color: #E497CD;
  font-size: 20px;
  line-height: 1.3;

}

.img_small{
  width: 200px;
  border-radius: 50%;
  border: 5px #FAEEE7 solid;
  transition: 2s;
}

.img_small:hover{
  transform: rotate(200deg);
}

a{
  text-decoration: none;
  color: #D35656;
}

a:hover{
  background-color: #1B2A49;
}
.container{
  width: 700px;
  margin: 30px auto;
}
.card{
  background-color: white;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 30px;
  text-align: center;
}
.btn-red{
  background-color: #D35656;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
.list-inline{
  list-style: none;
  padding-left: 0px;
  font-size: 50px
}
.list-inline li{
  display: inline;
  padding: 10px;
  width: 30px;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
